.input-group {
    position: relative;
}

.input-group-text {
    background: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.input-group input {
    padding-right: 30px; /* Adjust based on the icon width */
}
